<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		
		<title>
			{{ _site_name }}
			{{ if segment_1 }}
			– {{ title }}
			{{ endif }}
		</title>

		<!-- styles -->
		{{ theme:css tag="true" }}
		<link rel="stylesheet" href="{{ theme:css src="jquery.fancybox.css"}}" type="text/css" media="screen" />
  	<link rel="stylesheet" href="{{ theme:css src="jquery.fancybox-thumbs.css"}}" type="text/css" media="screen" />
  	<link href="{{ theme:css src="prettify"}}" type="text/css" rel="stylesheet" />

		<!-- fonts -->
		<script src="//use.typekit.net/edb5lij.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

		<!-- scripts -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<script type="text/javascript" src="{{ theme:js src="jquery.fancybox.pack.js"}}"></script> 
  	<script type="text/javascript" src="{{ theme:js src="tmb"}}"></script>
  	<script type="text/javascript" src="{{ theme:js src="prettify"}}"></script>
  	<script type="text/javascript" src="{{ theme:js src="jquery.fancybox.pack.js"}}"></script>
  	<script type="text/javascript" src="{{ theme:js src="jquery.fancybox-thumbs.js"}}"></script>

		<!-- favicon -->
		<link rel="shortcut icon" type="image/png" href="{{ theme:img src="favicon.png" }}">
	</head>
	<body onload="prettyPrint()">
		<div id="container">
			<div id="header">
				<h1 class="text-logo"><a href="/"><img src="{{ theme:img src="logo.svg"}}" alt="Logo" /><span class="site-title">The Mindful Bit</span></a></h1>
				<form class="search-box" action="/search" method="get">
	  			<input class="search-input" placeholder="Search Posts" type="text" name="query" value="{{ get:query|sanitize }}">
				</form>
			</div>
			<div id="core">
				{{ layout_content }}
			</div>
			<div id="footer">
				<p class="cc-text">
	        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The Mindful Bit</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://themindfulbit.com" property="cc:attributionName" rel="cc:attributionURL">Erik Hess</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
	      </p>
	      <p>Built with <a href="http://statamic.com" target="_blank" title="The Definitive Technical Blogging Framework">Statamic</a> and the <a href="http://https://github.com/takitapart/takitapart-framework">Takitapart CSS Framework</a>.
	      </p>
			</div>
		</div>
		{{ location:start_maps smart_include="true" }}  
		<!-- Google Analytics -->
	  <script type="text/javascript"> 
	    var _gaq = _gaq || [];
	    _gaq.push(['_setAccount', 'UA-30121224-1']);
	    _gaq.push(['_trackPageview']);

	    (function() {
	      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();

	  </script>
	</body>
</html>