

  <h2 class="more-header">Read More</h2>

  <ul class="more-posts">

    <li class="post ">
      <a alt="Home" title="Home" rel="page" href="/" >

        <div class="post-title">
          <h2 class="title">

              The Mindful Bit&nbsp;&rarr;

          </h2> 

          <div class="title-date">Go Home</div>
        </div>

      </a>
    </li> 
    <li class="post mindfulness">
      <a alt="Mindfulness" title="Mindfulness" rel="page" href="/blog/categories/mindfulness" >

        <div class="post-title">
          <h2 class="title">

              Mindfulness&nbsp;&rarr;

          </h2> 

          <div class="title-date">Right Here, Right Now</div>
        </div>

      </a>
    </li> 
    <li class="post technology">
      <a alt="Technology" title="Technology" rel="page" href="/blog/categories/technology" >

        <div class="post-title">
          <h2 class="title">

              Technology&nbsp;&rarr;

          </h2> 

          <div class="title-date">Less is More</div>
        </div>

      </a>
    </li> 
    <li class="post design">
      <a alt="Design" title="Design" rel="page" href="/blog/categories/design" >

        <div class="post-title">
          <h2 class="title">

              Design&nbsp;&rarr;

          </h2> 

          <div class="title-date">How it Works</div>
        </div>

      </a>
    </li> 
    <li class="post flying">
      <a alt="Flying" title="Flying" rel="page" href="/blog/categories/flying" >

        <div class="post-title">
          <h2 class="title">

              Flying&nbsp;&rarr;

          </h2> 

          <div class="title-date">The Cloud is a Real Place</div>
        </div>

      </a>
    </li> 
    <li class="post mindfulness technology design">
      <a alt="All Posts" title="All Posts" rel="page" href="/archive" >

        <div class="post-title">
          <h2 class="title">

              All Posts&nbsp;&rarr;

          </h2> 

          <div class="title-date">Visit the Archive</div>
        </div>

      </a>
    </li> 
    <li class="post archive">
      <a alt="About the Site" title="About the Site" rel="page" href="/about" >

        <div class="post-title">
          <h2 class="title">

              About this Site&nbsp;&rarr;

          </h2> 

          <div class="title-date">Yep, There's an About Page</div>
        </div>

      </a>
    </li> 

  </ul>