  <h2 class="more-header">Related Posts</h2>

  <ul class="more-posts">

    {{ entries:listing folder="blog" conditions="tags:{ tags_option_list }, url:!{ current_url }" limit="5"  }}

    {{ if no_results }}

    <!-- Do nothing -->
    <p class="no-more">This article is (to the best of our knowledge) unique. We found no other posts on this topic.</p>


    {{ else }}
    
    <li class="post {{ categories_spaced_list }}">
      <a alt="{{ title }}" title="{{ title }}" rel="page" href="{{ url }}" >
        
        <div class="post-title">
	        <h2 class="title">

	            {{ title|widont }}

	        </h2> 

	        <div class="title-date">Posted <span class="nice-date">{{ datestamp format="M d, 'y" }}</span> at <span class="time">{{ datestamp format="g:i A" }}</span></div>
        </div>

      </a>
    </li> 

    {{ endif }}

    {{ /entries:listing }}

  </ul>