<rss version="2.0">
   <channel>
      <title><![CDATA[{{ _site_name }}]]></title>
      <link>{{ _site_url }}</link>
      <description>Mindfulness, Productivity, Technology and Flying.</description>
      <dc:language>{{ site_language }}</dc:language>
      <dc:creator>{{ contact_email }}</dc:creator>
      <dc:rights>Copyright {{ current_date format='Y' }}</dc:rights>
      <dc:date>{{ current_date format="c" }}</dc:date>
      <webMaster>erik@themindfulbit.com (Erik Hess)</webMaster>
      <copyright>Copyright {{ current_date format='Y' }}</copyright>
      <ttl>30</ttl>

      {{ entries:listing folder="blog" limit="1" }}
         <item>
         <title><![CDATA[{{ if link }}{{ title }} &rArr;{{ else }}{{ title }}{{ endif }}]]></title>
         <author>{{ author }}</author>
         <link>
            {{ if link }}
               {{ link }}
            {{ else }}
               {{ permalink }}
            {{ endif }}
         </link>
         <guid>
            {{ if link }}
               {{ link }}
            {{ else }}
               {{ permalink }}
            {{ endif }}
         </guid>
         <category>article</category>
         <dc:date>{{ datestamp format="c" }}</dc:date>
         <dc:subject>{{ categories_list|cdata }}</dc:subject>
         <description><![CDATA[<div><img src="{{ _site_url }}/assets/img/{{ banner }}"/></div>]]>{{ content|full_urls|cdata }}{{ if link }}<![CDATA[<div class="permalink"><a href="{{ permalink }}">&#8251;</a></div>]]>{{ endif }}</description>
         </item>
      {{ /entries:listing }}
   </channel>
</rss>
