<div class="content">

  {{ entries:listing folder="blog" group_by_date="Y" taxonomy="true" }}

    {{ if grouped_date }}
        {{ if !first }}
            </ul>
        {{ endif }}

          <h2 class="more-header">{{ taxonomy_name|title }}: {{ grouped_date }}</h2>
        <ul class="more-posts">
    {{ endif }}
    
    <li class="post {{ categories_spaced_list }}">
      <a alt="{{ title }}" title="{{ title }}" rel="page" href="{{ url }}" >

        <div class="post-title">
          <h2 class="title">

              {{ title }}

          </h2> 

          <div class="title-date"><span class="nice-date">{{ datestamp format="M d, Y" }}</span> &ndash; <span class="time">{{ datestamp format="g:i A" }}</span></div>
        </div>

      </a>
    </li> 

    {{ if last }}
        </ul>
    {{ endif }}

  {{ /entries:listing }}

  {{ theme:partial src="nav" }}

</div>