/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/hyphenation";
@import "compass/css3/columns";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "takitapart/normalize";
@import "takitapart/typography";
@import "takitapart/grid";
@import "takitapart/form";
@import "takitapart/print";

// Base font-size in pixels.
$font-size: 16;

// Base line-height.
$line: $font-size * 1.5;
$em: $font-size * 1;

// Number of columns.
$columns: 12;

// Width of the outer margin, in percent.
$outer-margin: 0;

// Color Presets

$light-background: #eee;
$border-color: #ccc;
$blockquote-color: #f4f4f4;
$bright-link: #f00;
$dark-link: #aa0000;
$dark-link-hover: #333;
$light-text: #999;
$mid-text: #777;
$dark-text: #333;
$shadow: #555;
$white: #ffffff;
$ecru: #fbfaf5;

$hover-background: #ddd;
$input-background: #eee;

$m-color: #f6a9a9;
$d-color: #a9a9f6;
$t-color: #a9f6a9;
$md-color: #ac76c3;
$dt-color: #76acc3;
$tm-color: #acc376;
$no-color: #dddddd;
$all-color: #333333;

// Icons

.icon {
  display: none;

  &.skype,
  &.tomcat,
  &.textexpander,
  &.nasa,
  &.type2phone,
  &.high90,
  &.typekit,
  &.keyboard.maestro,
  &.dayone,
  &.sublime.text,
  &.apple,
  &.dropbox,
  &.siri,
  &.verizon,
  &.swiftype,
  &.hazel,
  &.textastic,
  &.squarespace,
  &.nerdquery,
  &.colorschemer,
  &.pad.and.quill,
  &.twelve.south,
  &.beast,
  &.manos,
  &.server,
  &.the.oatmeal,
  &.mst3k,
  &.compass, 
  &.typography,
  &.bitly,
  &.ifttt,
  &.zagg,
  &.love,
  &.yosemite,
  &.tiger,
  &.generational,
  &.appletv,
  &.statamic,
  &.keynote,
  &.osx,
  &.humor,
  &.resistance,
  &.takitapart,
  &.frailty,
  &.daleks,
  &.korea,
  &.the.bomb,
  &.appfog,
  &.pebble,
  &.mail,
  &.panic,
  &.nest,
  &.cosmology,
  &.security,
  &.media,
  &.tmb,
  &.rhino,
  &.vf-11,
  &.vf-101,
  &.lso.school,
  &.jsf,
  &.cvw-1,
  &.cnal,
  &.vfc-13,
  &.cv-67,
  &.cvn-65,
  &.cvn-69,
  &.cvn-70,
  &.cvn-71,
  &.cvn-72,
  &.cvn-73,
  &.cvn-75,
  &.cvn-76,
  &.cvn-77,
  &.nyan.cat,
  &.reading,
  &.criticmarkup,
  &.rss,
  &.netnewswire,
  &.adobe,
  &.sketch,
  &.pixelmator,
  &.evernote,
  &.byword,
  &.superman,
  &.prism,
  &.newsblur,
  &.readkit,
  &.slowfeeds,
  &.copyright,
  &.amazon,
  &.kindle,
  &.android,
  &.iss,
  &.spacex,
  &.orbital,
  &.technical.difficulties,
  &.flickr,
  &.sonos,
  &.huffduffer,
  &.clc,
  &.powerpoint,
  &.dawn.patrol,
  &.dr.drang,
  &.heretics {
    display: block;
    padding: 0;
    background-position: 50% 50%;
    background-size: 3em auto;
    background-repeat: no-repeat;
    @include opacity(0.9);
    @include break-inside(avoid);
  }

  &.tomcat {
    background-image: url('../../../assets/icons/flying.png');
    background-size: 4.5em auto;
  }

  &.textexpander {
    background-image: url('../../../assets/icons/textexpander.png');
    background-size: 4em auto;
  }

  &.nasa {
    background-image: url('../../../assets/icons/nasa.png');
    background-size: 4.25em auto;
  }

  &.type2phone {
    background-image: url('../../../assets/icons/type2phone.png');
    background-size: 3.3em auto;
  }

  &.high90 {
    background-image: url('../../../assets/icons/high90.png');
  }

  &.typekit {
    background-image: url('../../../assets/icons/typekit.png');
  }

  &.keyboard.maestro {
    background-image: url('../../../assets/icons/keyboardmaestro.png');
    background-size: 3.3em auto;
  }

  &.dayone {
    background-image: url('../../../assets/icons/dayone.png');
  }

  &.sublime.text {
    background-image: url('../../../assets/icons/sublime-text.png');
  }

  &.apple {
    background-image: url('../../../assets/icons/apple.png');
  }

  &.dropbox {
    background-image: url('../../../assets/icons/dropbox.png');
  }

  &.siri {
    background-image: url('../../../assets/icons/siri.png');
    background-size: 3.7em auto;
  }

  &.verizon {
    background-image: url('../../../assets/icons/verizon.png');
    background-size: 4.5em auto;
  }

  &.swiftype {
    background-image: url('../../../assets/icons/swiftype.png');
    background-size: 4em auto;
  }

  &.hazel {
    background-image: url('../../../assets/icons/hazel.png');
  }

  &.textastic {
    background-image: url('../../../assets/icons/textastic.png');
  }

  &.squarespace {
    background-image: url('../../../assets/icons/squarespace.png');
    background-size: 4.5em auto;
  }

  &.nerdquery {
    background-image: url('../../../assets/icons/nerdquery.png');
  }

  &.colorschemer {
    background-image: url('../../../assets/icons/colorschemer.png');
  }

  &.pad.and.quill {
    background-image: url('../../../assets/icons/pq.png');
  }

  &.twelve.south {
    background-image: url('../../../assets/icons/twelvesouth.png');
  }

  &.beast,
  &.the.oatmeal,
  &.humor {
    background-image: url('../../../assets/icons/beast.png');
    height: 7em;
    // position: relative;
    // top: -86px;
    // left: -16px;
  }

  &.manos,
  &.mst3k {
    background-image: url('../../../assets/icons/manos.png');
    height: 7em;
    background-size: 6em 6em;
  }

  &.server {
    background-image: url('../../../assets/icons/server.png');
    height: 7em;
  }

  &.compass {
    background-image: url('../../../assets/icons/compass.png');
  }

  &.typography {
    background-image: url('../../../assets/icons/typography.png');
  }

  &.bitly {
    background-image: url('../../../assets/icons/bitly.png');
  }

  &.ifttt {
    background-image: url('../../../assets/icons/ifttt.png');
  }

  &.zagg {
    background-image: url('../../../assets/icons/zagg.png');
  }

  &.love {
    background-image: url('../../../assets/icons/love.png');
  }

  &.yosemite {
    background-image: url('../../../assets/icons/yosemite.png');
  }

  &.tiger {
    background-image: url('../../../assets/icons/tiger.png');
    background-size: 4.5em auto;
  }

  &.generational {
    background-image: url('../../../assets/icons/generational.png');
    background-size: 3.5em auto;
  }

  &.appletv {
    background-image: url('../../../assets/icons/appletv.png');
  }

  &.statamic {
    background-image: url('../../../assets/icons/statamic.png');
  }

  &.keynote {
    background-image: url('../../../assets/icons/keynote.png');
  }

  &.osx {
    background-image: url('../../../assets/icons/osx.png');
  }

  &.resistance {
    background-image: url('../../../assets/icons/resistance.png');
  }

  &.takitapart {
    background-image: url('../../../assets/icons/takitapart.png');
    background-size: 3em auto;
  }

  &.frailty {
    background-image: url('../../../assets/icons/frailty.png');
    background-size: 2.5em auto;
  }

  &.daleks {
    background-image: url('../../../assets/icons/daleks.png');
    background-size: 2em auto;
  }

  &.korea {
    background-image: url('../../../assets/icons/korea.png');
    background-size: 4.5em auto;
  }

  &.the.bomb {
    background-image: url('../../../assets/icons/the-bomb.png');
    background-size: 2.8em auto;
  }

  &.appfog {
    background-image: url('../../../assets/icons/appfog.png');
    background-size: 3em auto;
  }

  &.pebble {
    background-image: url('../../../assets/icons/pebble.png');
  }

  &.mail {
    background-image: url('../../../assets/icons/mail.png');
    background-size: 4em auto;
  }

  &.panic {
    background-image: url('../../../assets/icons/panic.png');
  }

  &.nest {
    background-image: url('../../../assets/icons/nest.png');
  }

  &.cosmology {
    background-image: url('../../../assets/icons/cosmology.png');
  }

  &.security {
    background-image: url('../../../assets/icons/security.png');
  }

  &.media {
    background-image: url('../../../assets/icons/media.png');
  }

  &.tmb {
    background-image: url('../../../assets/icons/tmb.png');
  }

  &.rhino {
    background-image: url('../../../assets/icons/rhino.png');
    background-size: 4.5em auto;
    height: 4em;
  }

  &.vf-11 {
    background-image: url('../../../assets/icons/vf11.png');
    background-size: 4.5em auto;
    height: 4em;
  }

  &.vf-101 {
    background-image: url('../../../assets/icons/vf101.png');
    background-size: 4em auto;
  }

  &.lso.school {
    background-image: url('../../../assets/icons/lso-school.png');
    height: 6em;
  }

  &.jsf {
    background-image: url('../../../assets/icons/jsf.png');
    background-size: 4em auto;
  }

  &.cvw-1 {
    background-image: url('../../../assets/icons/cvw1.png');
    background-size: 4em auto;
  }

  &.cnal {
    background-image: url('../../../assets/icons/cnal.png');
    background-size: 4.7em auto;
  }

  &.vfc-13 {
    background-image: url('../../../assets/icons/vfc13.png');
    background-size: 4.2em auto;
  }

  &.cv-67 {
    background-image: url('../../../assets/icons/cv67.png');
    background-size: 4.2em auto;
  }

  &.cvn-65 {
    background-image: url('../../../assets/icons/cvn65.png');
    background-size: 4.2em auto;
  }

  &.cvn-69 {
    background-image: url('../../../assets/icons/cvn69.png');
    background-size: 4.2em auto;
  }

  &.cvn-70 {
    background-image: url('../../../assets/icons/cvn70.png');
    background-size: 4.2em auto;
  }

  &.cvn-71 {
    background-image: url('../../../assets/icons/cvn71.png');
    background-size: 4.2em auto;
  }

  &.cvn-72 {
    background-image: url('../../../assets/icons/cvn72.png');
    background-size: 4.2em auto;
  }

  &.cvn-73 {
    background-image: url('../../../assets/icons/cvn73.png');
    background-size: 4.2em auto;
  }

  &.cvn-74 {
    background-image: url('../../../assets/icons/cvn74.png');
    background-size: 4.2em auto;
  }

  &.cvn-75 {
    background-image: url('../../../assets/icons/cvn75.png');
    background-size: 4.2em auto;
    height: 3.8em;
  }

  &.cvn-76 {
    background-image: url('../../../assets/icons/cvn76.png');
    background-size: 4.2em auto;
    height: 3.8em;
  }

  &.cvn-77 {
    background-image: url('../../../assets/icons/cvn77.png');
    background-size: 4.2em auto;
  }

  &.nyan.cat {
    background-image: url('../../../assets/icons/nyan.png');
    background-size: 5em auto;
  }

  &.reading {
    background-image: url('../../../assets/icons/reading.png');
    background-size: 3em;
    height: 6em;
  }

  &.criticmarkup {
    background-image: url('../../../assets/icons/criticmarkup.png');
  }

  &.rss {
    background-image: url('../../../assets/icons/rss.png');
    background-size: 3em;
  }

  &.netnewswire {
    background-image: url('../../../assets/icons/netnewswire.png');
  }

  &.adobe {
    background-image: url('../../../assets/icons/adobe.png');
  }

  &.sketch {
    background-image: url('../../../assets/icons/sketch.png');
  }

  &.pixelmator {
    background-image: url('../../../assets/icons/pixelmator.png');
  }

  &.skype {
    background-image: url('../../../assets/icons/skype.png');
  }

  &.evernote {
    background-image: url('../../../assets/icons/evernote.png');
  }

  &.byword {
    background-image: url('../../../assets/icons/byword.png');
  }

  &.superman {
    background-image: url('../../../assets/icons/superman.png');
  }

  &.prism {
    background-image: url('../../../assets/icons/prism.png');
  }

  &.newsblur {
    background-image: url('../../../assets/icons/newsblur.png');
  }

  &.readkit {
    background-image: url('../../../assets/icons/readkit.png');
  }

  &.slowfeeds {
    background-image: url('../../../assets/icons/slowfeeds.png');
  }

  &.copyright {
    background-image: url('../../../assets/icons/copyright.png');
  }

  &.amazon {
    background-image: url('../../../assets/icons/amazon.png');
    height: 3.5em;
  }

  &.kindle {
    background-image: url('../../../assets/icons/kindle.png');
    background-size: 3.2em auto;
  }

  &.android {
    background-image: url('../../../assets/icons/android.png');
    background-size: 3.8em auto;
  }

  &.iss {
    background-image: url('../../../assets/icons/iss.png');
    background-size: 4em auto;
    height: 4em;
  }

  &.spacex {
    background-image: url('../../../assets/icons/spacex.png');
    background-size: 5.2em auto;
    height: 3em;
  }

  &.orbital {
    background-image: url('../../../assets/icons/orbital.png');
    background-size: 4em auto;
    height: 3em;
  }

  &.technical.difficulties {
    background-image: url('../../../assets/icons/td.png');
  }

  &.flickr {
    background-image: url('../../../assets/icons/flickr.png');
  }

  &.sonos {
    background-image: url('../../../assets/icons/sonos.png');
  }

  &.huffduffer {
    background-image: url('../../../assets/icons/huffduffer.png');
    height: 3em;
  }

  &.clc {
    background-image: url('../../../assets/icons/clc.png');
    background-size: 4em;
  }

  &.powerpoint {
    background-image: url('../../../assets/icons/powerpoint.png');
  }

  &.dawn.patrol {
    background-image: url('../../../assets/icons/dp.png');
  }

  &.dr.drang {
    background-image: url('../../../assets/icons/drang-avatar.png');
  }

  &.heretics {
    background-image: url('../../../assets/icons/heretics-icon.png');
  }
}

// General Styling

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "futura-pt",sans-serif;
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1em;
}

a,
a:active,
a:visited,
a:focus {
	color: $dark-text;
	text-decoration: none;
	outline: none;

	&:hover {
		color: $dark-text;
		text-decoration: none;
	}
}

p {
	margin-top: 0;
	margin-bottom: 0.8em;
}

em, i {
	font-style: italic;
}


// Core Styling

body {
	@include grid();
  padding: 0;
  font-family: "adobe-caslon-pro", serif;
  background-color: $ecru;
  color: $dark-text;
  overflow-x: hidden;

  #container {
  	@include column(12);
  	padding: 0 0.8em;
  }

  #header,
  #core,
  #footer {
  	@include column(12,12);
  	padding: 0;
  }

  #header {
  	margin-bottom: 1.5em;
  }

  #footer {
	  font-family: "futura-pt", sans-serif;
	  text-transform: uppercase;
	  color: $mid-text;
	  line-height: 1.3em;
	  margin-top: 1em;
	  margin-bottom: 1em;
	  font-weight: 200;

	  p {
	  	font-size: 0.7em;
	  }

	  a,
	  a:visited,
	  a:active {
	    color: $dark-text;
	    font-weight: 400;
	  }

	  a:hover {
	    color: $bright-link;
	    text-decoration: none;
	  }

	  .cc-text {
	    padding-top: 0.5em;

	    img {
	      padding: 0.3em 0.5em 0.5em 0;
	      float: left;
	    }

	  }

	}
}

.text-logo {
	@include column(12,12);
	padding: 0;
	position: relative;
	font-family: "adobe-caslon-pro", serif;
	text-transform: capitalize;
	line-height: 1em;
	letter-spacing: 0;

	img {
		display: inline-block;
		height: 1.5em;
		padding: 0 0.3em 0 0;
	}

	.site-title {
		position: relative;
		top: -0.3em;
	}
}

.search-box {
	@include column(12,12);
	padding: 0;
	border: 0;

	input {
		@include column(12,12);
		padding: 0.5em 0.5em 0.1em 2.5em;
		background-color: $light-background;
		background-image: url('../img/search.svg');
		background-size: 1.2em auto;
		background-repeat: no-repeat;
		background-position: 0.7em 0.65em;
		border: 0;
		color: $dark-text;
		font-family: "adobe-caslon-pro", serif;
		-webkit-appearance: none;
		outline: none;
	}
}

.content,
.search {
	@include column(12,12);
	padding: 0;

	.post {
		@include column(12,12);
		padding: 0;

		.post-header {
			@include column(12,12);
			padding: 0;

			.title-banner {
				@include column(12,12);
				padding: 0 0 0.5em 0;

				img {
					@include column(12,12);
					padding: 0;
					height: auto;
				}
			}

		  .title-pattern {
		    @include column(12,12);
		    padding: 0;
		    background-image: url('../img/stripes.svg');
		    background-repeat: repeat;
        height: 1.2em;

		    &.mindfulness {
		      border-bottom: 0.5em solid $m-color !important;
		    }

		    &.design {
		      border-bottom: 0.5em solid $d-color !important;
		    }

		    &.technology {
		      border-bottom: 0.5em solid $t-color !important;
		    }

		    &.mindfulness.design {
		      border-bottom: 0.5em solid $md-color !important;
		    }

		    &.design.technology {
		      border-bottom: 0.5em solid $dt-color !important;
		    }

		    &.mindfulness.technology {
		      border-bottom: 0.5em solid $tm-color !important;
		    }

		    &.mindfulness.design.technology {
		      border-bottom: 0.5em solid $all-color !important;
		    }

		    &.no-color {
		      border-bottom: 0.5em solid $no-color !important;
		    }

		  }

			.caption {
				@include column(12,12);
				padding: 0.5em 0 0.5em;
				font-style: italic;
				font-size: 0.8em;   
        text-align: right;

				p {
		      margin: 0;
		    }

		    a:before {
		      content: "\00a0";
		      background-image: url("../../../assets/img/photo.svg");
		      background-repeat: no-repeat;
		      width: 1.25em;
		      display: inline-block;
		      background-size: 1.1em auto;
		      position: relative;
		      top: -0.05em;
		    }

		    a {
		    	color: $dark-link;

		    	&:hover {
		    		color: $bright-link;
		    	}
		    }
			}
		}

		.pre-bar {
			display: none;
		}

		.post-title {
			@include column(12,12);
			padding: 0.5em 0 1em;

			.title {
				margin: 0;
				font-weight: 500;
			}

			.title-date {
				padding: 0;
				font-family: "futura-pt",sans-serif;
				text-transform: uppercase;
				color: $mid-text;
			}
		}

		.post-body {
			@include column(12,12);
			padding: 0;

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding: 0;
				margin-bottom: 0.8em;
			}

			h1 {
				font-size: 2em;
			}

			h2 {
				font-size: 1.8em;
			}

			h3 {
				font-size: 1.5em;
			}

			h4 {
				font-size: 1.3em;
			}

			h5 {
				font-size: 1.1em;
			}

			h6 {
				font-size: 1em;
			}

			a,
			a:visited,
			a:active,
			a:focus {
				color: $dark-link;

				&:hover {
					color: $bright-link;
				}
			}

			img {
				display: block;
				width: 100%;
				padding: 0.5em 0 0.8em 0;
				height: auto;
			}

			p:first-child {
				font-size: 1.2em;
			}

			p {
				padding: 0;
			}

			ul {
				padding: 0 0 0 1em;
				margin-top: 0;
				margin-bottom: 0.8em;
				list-style-type: disc;

				li {
					padding: 0;
					display: list-item;
          line-height: 1.5em;

					p:first-child {
						font-size: 1em;
					}

					p {
						float: none;
					}
				}
			}

			ol {
				padding: 0 0 0 1.3em;
				margin-top: 0;
				margin-bottom: 0.8em;
				list-style-type: decimal;

				li {
					padding: 0;
					display: list-item;
          line-height: 1.5em;

					p:first-child {
						font-size: 1em;
					}

					p {
						float: none;
					}
				}
			}

	    pre.prettyprint {
	    	padding: 0;
	      font-size: 0.7em;

	      &.linenums {
	        box-shadow: inset 3em 0 0 #fbfbfc, inset 2em 0 0 #ececf0;
	      }

	      ol.linenums {
	      	padding-left: 3em;
	      	margin-left: 0;
	        margin-bottom: 0;

	        li {
	        	padding: 0.5em;
	          margin-bottom: 0;
	        }
	      }
	    }

	    code.prettyprint {
	    	font-size: 0.8em;
	    	color: $mid-text;
	    }

			blockquote {
				padding: 0 0 0 1em;
				margin: 0.5em 0 0.8em 0;
				border-left: 0.5em solid $hover-background;
				color: $mid-text;

				p:first-child {
					font-size: 1em;
				}

				p:last-child {
					margin: 0;
					padding-bottom: 0;
				}

				cite {
					display: block;
					padding: 0;
					text-align: right;
					font-size: 0.7em;
					font-style: italic;
				}
			}

			aside {
				@include column(12,12);
				padding: 0.8em 0 0;
				margin-bottom: 1em;
				border-top: 1px dotted $border-color;
				border-bottom: 1px dotted $border-color;
				font-size: 1em;

				p:first-child {
					font-size: 1em;
				}

				blockquote {
					padding: 0.5em 0 0.5em;
					color: $mid-text;
					margin-top: 0;
					margin-bottom: 0;
					margin-left: 0; 
					font-size: 1.5em;
					line-height: 1.3em;
					border: 0;
				}
			}

			.permalink {
				font-size: 1.5em;
			}
		}

		.post-footer {
	    @include column(12,12);
	    padding: 0.5em 0 0;
	    margin: 1em 0;

	    .title {
	      @include column(4,12);
	      clear: both;
	      padding: 0;
	      margin-bottom: 0.4em;
	      font-family: "futura-pt", sans-serif;
	      text-transform: uppercase;
	      color: $light-text;
	      font-size: 0.8em;
	      line-height: 1.1em;
	    }

	    ul.category-list,
	    ul.tag-list {
	      @include column(8,12);
	      padding: 0;
	      margin-top: 0;
	      margin-bottom: 0.4em;
	      text-align: right;
	      font-size: 0.8em;
	      line-height: 1.1em;

	      li {
	        display: inline;
	        font-family: "futura-pt", sans-serif;
	        text-transform: uppercase;
	        padding-left: 0.3em;
	        
	        a,
	        a:active,
	        a:visited {
	          color: $dark-text;
	          text-decoration: none;

	          &:hover {
	            color: $bright-link;
	          }
	        }
	      }
	    }
		}
	}

	.more-header,
	.pagination-header,
	.search-header {
		@include column(12,12);
		padding: 0;
		font-weight: 500;
		font-size: 1.3em;
		margin-top: 1em;
		margin-bottom: 0.7em;
	}

	.pagination {
		@include column(12,12);
		padding: 0;

    .post {
    	@include column(12,12);
    	padding: 0 0 0 0.5em;
    	margin-top: 0em;
    	margin-bottom: 0.2em;
		  background-image: url('../img/stripes.svg');
      border-left: 0.5em solid $no-color !important;

      &.mindfulness {
        border-left: 0.5em solid $m-color !important;
      }

      &.design {
        border-left: 0.5em solid $d-color !important;
      }

      &.technology {
        border-left: 0.5em solid $t-color !important;
      }

      &.mindfulness.design {
        border-left: 0.5em solid $md-color !important;
      }

      &.design.technology {
        border-left: 0.5em solid $dt-color !important;
      }

      &.mindfulness.technology {
        border-left: 0.5em solid $tm-color !important;
      }

      &.mindfulness.design.technology {
        border-left: 0.5em solid $all-color !important;
      }

      &.no-color {
        border-left: 0.5em solid $no-color !important;
      }

			.older,
			.newer {
				@include column(12,12);
				padding: 0.5em 0.5em 0.8em;
				background-color: $light-background;

				.key {
		      font-family: "futura-pt", sans-serif;
		      text-transform: uppercase;
		      font-size: 0.8em;
		      color: $mid-text;
		      font-weight: 200;
				}

				.title {
		      font-family: "futura-pt", sans-serif;
		      text-transform: uppercase;
		      color: $dark-text;
		      font-weight: 500;
		      line-height: 1em;
		      font-size: 1.1em;
				}

				&:hover {
					background-color: $hover-background;
				}
			}
		}
	}

	.more-posts,
	.search-list {
    @include column(12,12);
    padding: 0;
    margin-top: 0;
    margin-bottom: 0em;

    .no-more {
      @include column(12,12);
      padding: 0;
      font-style: italic;
      margin-bottom: 1em;
      color: $mid-text;
    }

    .post {
    	@include column(12,12);
    	padding: 0 0 0 0.5em;
    	margin-top: 0em;
    	margin-bottom: 0.2em;
		  background-image: url('../img/stripes.svg');
      border-left: 0.5em solid $no-color !important;

      &.mindfulness {
        border-left: 0.5em solid $m-color !important;
      }

      &.design {
        border-left: 0.5em solid $d-color !important;
      }

      &.technology {
        border-left: 0.5em solid $t-color !important;
      }

      &.mindfulness.design {
        border-left: 0.5em solid $md-color !important;
      }

      &.design.technology {
        border-left: 0.5em solid $dt-color !important;
      }

      &.mindfulness.technology {
        border-left: 0.5em solid $tm-color !important;
      }

      &.mindfulness.design.technology {
        border-left: 0.5em solid $all-color !important;
      }

      &.no-color {
        border-left: 0.5em solid $no-color !important;
      }

    	a,
    	a:visited,
    	a:active,
    	a:focus {
    		@include column(12,12);
    		padding: 0;
    		background-color: $light-background;

	    	.post-title {
	    		@include column(12,12);
	    		padding: 0.8em 1em 0.5em;

	    		.title {
		    		@include column(12,12);
		    		padding: 0;
		    		font-weight: 500;
		    		font-size: 0.9em;
		    	}

		    	.title-date {
		    		@include column(12,12);
		    		padding: 0;
		    		font-size: 0.9em;
						font-family: "futura-pt",sans-serif;
						text-transform: uppercase;
						color: $mid-text;

		    	}
	    	}

	    	&:hover {
	    		background-color: $hover-background;
	    	}
	    }
    }
  }
}

/* @media screen and (min-width: 480px) */
@media screen and (min-width: 30em) { 

	body {

	  #container {
	  	padding: 0 2em;
	  }
	}
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) { 

  @include baseline-grid(18); 
	
	body {

		#container {
			padding: 0;
		}

	  #header,
	  #core,
	  #footer {
	  	@include column(10,12);
	  	@include push(1,12);
	  	padding: 0;
	  }

	  #header {
	  	margin-bottom: 0.5em;

	  	.text-logo {
		  	@include column(6,10);
		  	padding: 0;
		  }

		  .search-box {
		  	@include column(4,10);
		  	padding: 1em 0 0;

		  }
	  }

	  .content,
	  .search {
	  	@include column(10,10);
	  	padding: 0;

	  	.post {
	  		@include column(10,10);
	  		padding: 0;

	  		.post-header {
	  			@include column(10,10);
	  			padding: 0;

	  			.title-banner {
	  				@include column(10,10);
						padding: 0 0 0.5em 0;

	  				img {
	  					@include column(10,10);
	  					padding: 0;
	  				}
	  			}

	  			.title-pattern {
	  				@include column(10,10);
	  				padding: 0;
	  			}

	  			.caption {
	  				@include column(10,10);
						padding: 0.5em 0 0.5em;
	  			}
	  		}

	  		.post-title {
	  			@include column(10,10);
	  			padding: 0.5em 0 1em;
	  		}

	  		.post-body {
	  			@include column(10,10);
	  			padding: 0;

	  			.fancybox {
  					@include column(10,10);
  					@include push(0);
  					padding: 0 0 0.5em;

	  				&.left {
	  					@include column(5,10);
	  					padding: 0.5em 0;
	  					margin-right: 2em;
	  				}

	  				&.right {
	  					@include column(5,10);
	  					@include push(0);
	  					float: right;
	  					margin-right: 0;
	  					margin-left: 2em;
	  				}
	  			}

					aside {
						@include column(5,10);
						padding: 0.8em 0 0;
						margin-right: 2em;
            margin-bottom: 0;
            border: none;

						blockquote {
							padding: 0.5em 0 0.5em;
						}

	  				&.right {
	  					@include push(0);
	  					float: right;
	  					margin-right: 0;
	  					margin-left: 2em;
	  				}
					}

	        .has-pullquote:before {
	        	content: attr(data-pullquote);
	          @include column(5,10);
  					@include push(0);
						padding: 0 0 1em;
  					float: right;
  					margin-right: 0;
  					margin-left: 2em;
	          font-family: "futura-pt", sans-serif;
	          text-transform: uppercase;
	          text-align: left;
	          color: $bright-link;
	          font-size: 1.1em;
	          line-height: 1.3em;
	        }
	  		}

	  		.post-footer {
			    @include column(10,10);
			    padding: 0.5em 0 0;
			  }
	  	}

	  	.more-header,
			.pagination-header,
			.search-header,
			.pagination,
			.more-posts,
			.search-list {
				@include column(10,10);
				padding: 0;
			}
	  }
	}
}

/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) { 
  
  @include baseline-grid(20); 
	
	body {

		#core {
			@include column(12,12);
			@include push(0);
			padding: 0;
		}

		.content,
	  .search {
	  	@include column(12,12);
	  	padding: 0;

	  	.post {
	  		@include column(12,12);
	  		padding: 0;

	  		.post-header {
	  			@include column(12,12);
	  			padding: 0;

	  			.title-banner {
	  				@include column(12,12);
						padding: 0 0 0.5em 0;

	  				img {
	  					@include column(12,12);
	  					padding: 0;
	  				}
	  			}

	  			.title-pattern {
	  				@include column(10,12);
            @include push(1,12);
	  				padding: 0;
	  			}

	  			.caption {
	  				@include column(10,12);
	  				@include push(1,12);
						padding: 0.5em 0 0.5em;
	  			}
	  		}

	  		.post-core {
	  			@include column(10,12);
	  			@include push(1,12);
	  			padding: 0;
	  		}

	  		.post-title {
	  			@include column(10,10);
	  			padding: 0.5em 0 1em;
	  		}

	  		.post-body {
	  			@include column(10,10);
	  			padding: 0;

	  			.fancybox {
  					@include column(10,10);
  					@include push(0);
  					padding: 0 0 0.5em;

	  				&.left {
	  					@include column(5,10);
	  					padding: 0.5em 0;
	  					margin-right: 2em;
	  				}

	  				&.right {
	  					@include column(5,10);
	  					@include push(0);
	  					float: right;
	  					margin-right: 0;
	  					margin-left: 2em;
	  				}

	  				&.wide {
	  					@include column(12,10);
	  					@include push(-1,10);
	  					padding: 0 0 0.5em;
	  				}
	  			}

					aside {
						@include column(5,10);
						padding: 0.8em 0 0;
						margin-right: 2em;

						blockquote {
							padding: 0.5em 0 0.5em;
						}

	  				&.right {
	  					@include push(0);
	  					float: right;
	  					margin-right: 0;
	  					margin-left: 2em;
	  				}

            &.wide {
              @include column(12,10);
              @include push(-1,10);
              padding: 0 0 0.5em;
            }
					}

	        .has-pullquote:before {
	        	content: attr(data-pullquote);
	          @include column(5,10);
  					@include push(0);
						padding: 0 0 1em;
  					float: right;
  					margin-right: 0;
  					margin-left: 2em;
	          font-family: "futura-pt", sans-serif;
	          text-transform: uppercase;
	          text-align: left;
	          color: $bright-link;
	          font-size: 1.3em;
	          line-height: 1.3em;
	        }
	  		}

	  		.post-footer {
			    @include column(10,10);
			    padding: 0.5em 0 0;
			  }
	  	}

	  	.more-header,
			.pagination-header,
			.search-header,
			.pagination,
			.more-posts,
			.search-list {
				@include column(10,12);
				@include push(1,12);
				padding: 0;
			}
	  }
	}
}

/* @media screen and (min-width: 880px) */
@media screen and (min-width: 55em) { 
  
  body {

    #header,
    #footer {
      @include column(8,12);
      @include push(2,12);
      padding: 0;
    }

    #core {
      @include column(12,12);
      @include push(0);
      padding: 0;
    }

    .content,
    .search {
      @include column(12,12);
      padding: 0;

      .post {
        @include column(12,12);
        padding: 0;

        .post-header {
          @include column(12,12);
          padding: 0;

          .title-banner {
            @include column(12,12);
            padding: 0 0 0.5em 0;

            img {
              @include column(12,12);
              padding: 0;
            }
          }

          .title-pattern {
            @include column(8,12);
            @include push(2,12);
            padding: 0;
          }

          .caption {
            @include column(8,12);
            @include push(2,12);
            padding: 0.5em 0 0.5em;
          }
        }

        .pre-bar {
          @include column(2,12);
          @include push(0);
          padding: 0.5em 0 0 0;
          text-align: center;

          .date-ball {
            display: block;
            position: relative;
            height: 4em;
            width: 4em;
            margin: 0 auto;

            .ball {
              position: absolute;
              top: 0;
              left: 0.25em;
              width: 3.5em;
              height: 3.5em;
              border-radius: 50%;
              background-color: $no-color;
            }

            .text-block {
              position: relative;
              top: 3em;
              left: 0;
              width: 5em;
              padding: 0;
              white-space: nowrap;
              font-family: "futura-pt", sans-serif;
              text-transform: uppercase;
              display: block;
              color: $dark-text;
              font-size: 0.4em;
              line-height: 1.2em;
              text-align: center;
              margin: 0 auto;
            }

            &:hover {
              text-decoration: none;
            }
          }

          .icon {
            width: 4em;
            height: 4em;
            clear: both;
            margin: 0 auto;
          }
        }


        .post-core {
          @include column(8,12);
          @include push(0);
          padding: 0;
        }

        .post-title {
          @include column(8,8);
          padding: 0.5em 0 1em;

          .title-date {
            display: none;
          }
        }

        .post-body {
          @include column(8,8);
          padding: 0;

          .fancybox {
            @include column(8,8);
            @include push(0);
            padding: 0 0 0.5em;

            &.left {
              @include column(5,8);
              @include push(-1,8);
              padding: 0.5em 0 0 0;
              margin-right: 2em;
            }

            &.right {
              @include column(5,8);
              @include pull(-1,8);
              padding: 0.5em 0 0 0;
              float: right;
              margin-left: 2em;
            }

            &.wide {
              @include column(12,8);
              @include push(-2,8);
              padding: 0 0 0.5em;
            }
          }

          aside {
            @include column(5,8);
            @include push(-1,8);
            padding: 0.5em 0 0 0;
            margin-right: 2em;

            blockquote {
              padding: 0.5em 0 0.5em;
            }

            &.right {
              @include column(5,8);
              @include pull(-1,8);
              padding: 0.5em 1em 0 0;
              float: right;
              margin-left: 2em;
            }

            &.wide {
              @include column(12,8);
              @include push(-2,8);
              padding: 0 0 0.5em;
            }
          }

          .has-pullquote:before {
            content: attr(data-pullquote);
            @include column(5,8);
            @include pull(-1,8);
            padding: 0 0 1em;
            float: right;
            margin-left: 2em;
            font-family: "futura-pt", sans-serif;
            text-transform: uppercase;
            text-align: left;
            color: $bright-link;
            font-size: 1.3em;
            line-height: 1.3em;
          }
        }

        .post-footer {
          @include column(8,8);
          padding: 0.5em 0 0;
        }
      }

      .more-header,
      .pagination-header,
      .search-header,
      .pagination,
      .more-posts,
      .search-list {
        @include column(8,12);
        @include push(2,12);
        padding: 0;
      }
    }
  }
}

/* @media screen and (min-width: 944px) */
@media screen and (min-width: 59em) { 

  @include baseline-grid(22); 

  body .content .post .pre-bar .date-ball .text-block {
    top: 2.5em;
    font-size: 0.5em;
  }
}

/* @media screen and (min-width: 1104px) */
@media screen and (min-width: 69em) { 

  body {

    #header,
    #footer {
      @include column(6,12);
      @include push(3,12);
      padding: 0;
    }

    #core {
      @include column(12,12);
      @include push(0);
      padding: 0;
    }

    .content,
    .search {
      @include column(12,12);
      padding: 0;

      .post {
        @include column(12,12);
        padding: 0;

        .post-header {
          @include column(12,12);
          padding: 0;

          .title-banner {
            @include column(12,12);
            padding: 0 0 0.5em 0;

            img {
              @include column(12,12);
              padding: 0;
            }
          }

          .title-pattern {
            @include column(6,12);
            @include push(3,12);
            padding: 0;
          }

          .caption {
            @include column(6,12);
            @include push(3,12);
            padding: 0.5em 0 0.5em;
          }
        }

        .pre-bar {
          @include column(2,12);
          @include push(1);
          padding: 0.5em 0 0 0;
        }

        .post-core {
          @include column(6,12);
          @include push(0);
          padding: 0;
        }

        .post-title {
          @include column(6,6);
          padding: 0.5em 0 1em;
        }

        .post-body {
          @include column(6,6);
          padding: 0;

          .fancybox {
            @include column(6,6);
            @include push(0);
            padding: 0 0 0.5em;

            &.left {
              @include column(4,6);
              @include push(-2,6);
              padding: 0.5em 0 0 0;
              margin-right: 2em;
            }

            &.right {
              @include column(4,6);
              @include pull(-2,6);
              padding: 0.5em 0 0 0;
              float: right;
              margin-left: 2em;
            }

            &.wide {
              @include column(12,6);
              @include push(-3,6);
              padding: 0 0 0.5em;
            }
          }

          aside {
            @include column(4,6);
            @include push(-2,6);
            padding: 0.5em 0 0 0;
            margin-right: 2em;

            blockquote {
              padding: 0.5em 0 0.5em;
            }

            &.right {
              @include column(4,6);
              @include pull(-2,6);
              padding: 0.5em 1em 0 0;
              float: right;
              margin-left: 2em;
            }

            &.wide {
              @include column(12,6);
              @include push(-3,6);
              padding: 0 0 0.5em;
            }
          }

          .has-pullquote:before {
            content: attr(data-pullquote);
            @include column(4,6);
            @include pull(-2,6);
            padding: 0 0 1em;
            float: right;
            margin-left: 2em;
            font-family: "futura-pt", sans-serif;
            text-transform: uppercase;
            text-align: left;
            color: $bright-link;
            font-size: 1.3em;
            line-height: 1.3em;
          }
        }

        .post-footer {
          @include column(6,6);
          padding: 0.5em 0 0;
        }
      }

      .more-header,
      .pagination-header,
      .search-header,
      .pagination,
      .more-posts,
      .search-list {
        @include column(6,12);
        @include push(3,12);
        padding: 0;
      }
    }
  }

}

/* @media screen and (min-width: 1264px) */
@media screen and (min-width: 79em) { 
  
  @include baseline-grid(24); 

}

/* @media screen and (min-width: 1424px) */
@media screen and (min-width: 89em) { 
  
  @include baseline-grid(26); 

}

/* @media screen and (min-width: 1584px) */
@media screen and (min-width: 99em) { 
  
  @include baseline-grid(28); 

}

/* @media screen and (min-width: 1744px) */
@media screen and (min-width: 109em) { 
  
  @include baseline-grid(30); 

}

.mindfulness {
  background-color: $m-color !important;
}

.design {
  background-color: $d-color !important;
}

.technology {
  background-color: $t-color !important;
}

.mindfulness.design {
  background-color: $md-color !important;
}

.design.technology {
  background-color: $dt-color !important;
}

.mindfulness.technology {
  background-color: $tm-color !important;
}

.mindfulness.design.technology {
  background-color: $all-color !important;
  color: #FFF !important;
}

.no-color {
  background-color: $no-color !important;
}







